<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Сяюче сонце</title>
    <style>
        body{
        background-image: url('https://source.unsplash.com/1600x900/?nature,landscape');
  background-size: cover;
  background-repeat: no-repeat;
      }
      body,
      canvas {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <p><a class="button" href="../../index.html">Go back</a></p>
    <canvas id="sun"></canvas>
    <script src="../sun.js"></script>
  </body>
</html>
